USE [master]
GO
/****** Object:  Database [casinoDB]    Script Date: 2019-04-18 9:46:13 PM ******/
CREATE DATABASE [casinoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'casinoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\casinoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'casinoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\casinoDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [casinoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [casinoDB]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 2019-04-18 9:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[game_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[result] [varchar](50) NOT NULL,
	[winnings] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 2019-04-18 9:46:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[user_name] [varchar](50) NOT NULL,
	[games_played] [int] NOT NULL,
	[wins] [int] NOT NULL,
	[losses] [int] NOT NULL,
	[draws] [int] NOT NULL,
	[winlossRatio] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2019-04-18 9:46:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_name] [varchar](50) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[secPwd] [varchar](150) NOT NULL,
	[salt] [varchar](50) NOT NULL,
	[balance] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_user_name] FOREIGN KEY([user_name])
REFERENCES [dbo].[users] ([user_name])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_user_name]
GO
ALTER TABLE [dbo].[Records]  WITH CHECK ADD  CONSTRAINT [FK_username] FOREIGN KEY([user_name])
REFERENCES [dbo].[users] ([user_name])
GO
ALTER TABLE [dbo].[Records] CHECK CONSTRAINT [FK_username]
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD CHECK  (([result]='WON' OR [result]='LOST' OR [result]='DRAW'))
GO
USE [master]
GO
